name: Windows Self-Hosted Runner - Hello

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run PowerShell script
        shell: powershell
        run: |
          .\scripts\hello.ps1
